header {
  background-image: url(../images/desktop/image-hero.jpg);
  color: rgb(255, 249, 249);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 15vw;
}
header ul > li {
  list-style-type: none;
  padding: 3vw;
}
header ul > li:hover {
  text-decoration: underline;
}
header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header ul img {
  margin-right: 35vw;
  width: 12vw;
}
header div {
  border: 2px solid rgb(255, 249, 249);
  margin-left: 14vw;
  margin-right: 50vw;
  width: 30vw;
  height: 20vw;
}
header div p {
  font-size: 4vw;
  padding-left: 3vw;
}

body {
  word-wrap: break-word;
}

#interactive {
  display: flex;
}
#interactive img {
  margin-left: 5vw;
  margin-top: 5vw;
}
#interactive div {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #000000;
  position: absolute;
  z-index: 3;
  text-align: center;
  width: 35vw;
  height: 20vw;
  margin-left: 42vw;
  margin-top: 20vw;
}
#interactive div h2 {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 2vw;
  font-size: 2vw;
}
#interactive div p {
  padding-left: 2vw;
  padding-right: 2vw;
}

#our_creation {
  margin: 7vw;
}
#our_creation div {
  z-index: 1;
}
#our_creation div:hover {
  opacity: 0.5;
  color: rgb(255, 249, 249);
}
#our_creation .txt-img1 {
  position: absolute;
  margin-top: 28vw;
  margin-right: 60vw;
  z-index: 2;
  color: rgb(255, 249, 249);
}
#our_creation .txt-img2 {
  position: absolute;
  margin-right: 32vw;
  margin-top: 28vw;
  color: rgb(255, 249, 249);
}
#our_creation .txt-img3 {
  position: absolute;
  margin-left: 10vw;
  margin-top: 28vw;
  color: rgb(255, 249, 249);
}
#our_creation .txt-img4 {
  position: absolute;
  margin-left: 60vw;
  margin-top: 28vw;
  color: rgb(255, 249, 249);
}
#our_creation.txt-img5 {
  position: absolute;
  margin-right: 60vw;
  margin-top: 30vw;
}
#our_creation.txt-img6 {
  position: absolute;
  margin-right: 20vw;
}
#our_creation ._our_see {
  display: flex;
  justify-content: space-between;
}
#our_creation ._our_see li > h2 {
  font-size: 3vw;
  padding-left: 3vw;
}
#our_creation ._our_see li > a {
  text-decoration: none;
  background-color: rgb(255, 249, 249);
  border: 1px solid #000000;
  color: #000000;
  font-size: 2vw;
}
#our_creation ._our_see li > a:hover {
  background-color: #000000;
  color: rgb(255, 249, 249);
  font-size: 2vw;
}
#our_creation ul > li {
  list-style-type: none;
}
#our_creation .images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#our_creation .images img {
  margin-top: 2vw;
}

footer {
  background-color: #000000;
  background-size: 100% 100%;
  color: rgb(255, 249, 249);
  padding-top: 2vw;
  padding-bottom: 2vw;
}
footer ul > li {
  list-style-type: none;
}
footer #social {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
footer #social li {
  margin-right: 1vw;
  padding-right: 2vw;
}
footer #social li:hover {
  text-decoration: line-through;
}
footer #social img {
  margin-right: 67vw;
  margin-top: 2vw;
}
footer #About {
  display: flex;
  align-items: flex-end;
}
footer #About li {
  margin: 1vw;
}
footer #About span {
  margin-left: 50vw;
  margin-bottom: 1vw;
}

/*# sourceMappingURL=style.css.map */
